body {
  font-family: 'Montserrat', sans-serif;
  min-width: 1200px;
}

.container {
  position: relative;
  min-width: 1200px;
}

#class-panel {
  display:none;
}

#student-panel {
  display:none;
}

img {
  display: block;
  margin: auto;
}

.img-wrapper {
  padding:30px;
  background-color: rgba(210, 214, 219, 0.65);
  margin:10px;
  margin-top:0px;
}

.header {
  background-color: rgba(164, 168, 173, 0.65);
  padding:16px;
  margin:10px;
  margin-top:20px;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.navbar-right {
  margin-right: 20px;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration: none;
}

.navbar {
  height: 70px;
  align-items: center;
}

.nav-item:active, a:focus {
  color: #f4b942;
  text-decoration: none;
}

.dropdown-menu {
  text-align: right;
  padding:10px;
  width:auto;
}

.dropdown-item {
  margin:10px;
}

.dropdown-item:hover > a {
  text-decoration: none;
}

.centered {
  align-content: center;
}

.pie {
  margin: 20px;
  height:200px;
  width:200px;
}

#quizChart1, #unitChart1 {
  height:200px;
  width:200px;
  margin-left: -16px;
  margin-top: -16px;
  margin-bottom:36px;
}

.pie text {
  font-family: 'Montserrat', sans-serif;
  fill: #888;
}

.pie .name-text{
  font-size: 1em;
}

.pie .value-text{
  font-size: 3em;
}

.nav-item {
  margin-left:5px;
  margin-right: 5px;
}

.navbar-nav, .navbar-brand {
  padding:10px;
}

.navbar-nav {
  margin-top:15px;
}

.header > h3 {
  margin: 0px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
}

.quizSlide {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  align-content: center;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgba(164, 168, 173, 0.65);
  text-decoration:none;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.dot-marker {
  margin-top: 20px;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
